@model IEnumerable<rita.Information.TestMasterInfo>
@using rita.Information
@{
    PaginationInfo pager = ViewBag.pager;
    TestMasterInfo.Conditions conditions = ViewBag.condtions ?? new TestMasterInfo.Conditions();
}
@using (Html.BeginForm("List", "Test"))
{
    <label>@Html.DisplayNameFor(m => m.Name) : </label>
    <input type="text" name="conditions.name" value="@conditions.Name" autocomplete="off" />
    <label>@Html.DisplayNameFor(m => m.Address) : </label>
    <input type="text" name="conditions.address" value="@conditions.Address" autocomplete="off" />
    <label>@Html.DisplayNameFor(m => m.Phone) : </label>
    <input type="text" name="conditions.phone" value="@conditions.Phone" autocomplete="off" />
    <button type="submit" onclick="$('#paginationTotal').val('0');">查詢</button>
    <table class="table table-responsive table-hover">
        <thead class="thead-dark">
            <tr>
                @*@foreach (System.Data.DataColumn col in Model.Columns)
                    {
                        <td>@(col.ColumnName)</td>
                    }*@
                <td>@Html.DisplayNameFor(m => m.NO)</td>
                <td>@Html.DisplayNameFor(m => m.Name)</td>
                <td>@Html.DisplayNameFor(m => m.Phone)</td>
                <td>@Html.DisplayNameFor(m => m.Address)</td>
                <td>@Html.DisplayNameFor(m => m.Birthday)</td>
                <td>@Html.DisplayNameFor(m => m.Age)</td>
                <td>@Html.DisplayNameFor(m => m.UpdateTime)</td>
            </tr>
        </thead>
        <tbody>
            @foreach (rita.Information.TestMasterInfo e in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(i => e.NO)</td>
                    <td>@Html.DisplayFor(i => e.Name)</td>
                    <td>@Html.DisplayFor(i => e.Phone)</td>
                    <td>@Html.DisplayFor(i => e.Address)</td>
                    <td>@Html.DisplayFor(i => e.Birthday)</td>
                    <td>@Html.DisplayFor(i => e.Age)</td>
                    <td>@Html.DisplayFor(i => e.UpdateTime)</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="8">
                    @Html.Partial("~/Views/Shared/_Pager.cshtml", pager)
                </td>
            </tr>
        </tfoot>
    </table>
    @*<input type="hidden" name="pagination.index" value="@ViewBag.Index" />*@
    @*<input type="hidden" name="pagination.size" value="@ViewBag.Size" />*@
    @*<input type="hidden" id="total" name="pagination.total" value="@ViewBag.Total" />*@
}


