@model rita.Information.TestMasterInfo

<div class="form-group">
    <label class="col-sm-2 col-form-label text-right"> @Html.DisplayNameFor(i => i.SID)</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" readonly="readonly"
           placeholder="name@example.com" value="@Html.DisplayFor(i => i.SID)">
</div>
<div class="form-group">
    <label class="col-sm-2 col-form-label text-right"> @Html.DisplayNameFor(i => i.ID)</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" readonly="readonly"
           placeholder="name@example.com" value="@Html.DisplayFor(i => i.ID)">
</div>
<div class="form-group">
    <label class="col-sm-2 col-form-label text-right"> @Html.DisplayNameFor(i => i.NO)</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" readonly="readonly"
           placeholder="name@example.com" value="@Html.DisplayFor(i => i.NO)">
</div>
<div class="form-group">
    <label class="col-sm-2 col-form-label text-right"> @Html.DisplayNameFor(i => i.Name)</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" readonly="readonly"
           placeholder="name@example.com" value="@Html.DisplayFor(i => i.Name)">
</div>
<div class="form-group">
    <label class="col-sm-2 col-form-label text-right"> @Html.DisplayNameFor(i => i.Address)</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" readonly="readonly"
           placeholder="name@example.com" value="@Html.DisplayFor(i => i.Address)">
</div>
<div class="form-group">
    <label class="col-sm-2 col-form-label text-right"> @Html.DisplayNameFor(i => i.Phone)</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" readonly="readonly"
           placeholder="name@example.com" value="@Html.DisplayFor(i => i.Phone)">
</div>
<div class="form-group">
    <label class="col-sm-2 col-form-label text-right"> @Html.DisplayNameFor(i => i.Birthday)</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" readonly="readonly"
           placeholder="name@example.com" value="@Html.DisplayFor(i => i.Birthday)">
</div>
<div class="form-group">
    <label class="col-sm-2 col-form-label text-right"> @Html.DisplayNameFor(i => i.CreateTime)</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" readonly="readonly"
           placeholder="name@example.com" value="@Html.DisplayFor(i => i.CreateTime)">
</div>
<div class="form-group">
    <label class="col-sm-2 col-form-label text-right"> @Html.DisplayNameFor(i => i.UpdateTime)</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" readonly="readonly"
           placeholder="name@example.com" value="@Html.DisplayFor(i => i.UpdateTime)">
</div>